*{
    padding: o;
    margin: o;
    font-family: "Inter", sans-serif;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
/* nav start */
/* common style */
.common-btn {
    background-color: #1d4ed8;
    padding:10px 20px;
    border-radius: 12px;
    font-size: 22px;
    color: #ffffff;
    border:none;
     
}

header {
    background: #ffffff;
    align-items: center;
}

nav {
    
     display: flex;
     justify-content: space-between;
     max-width: 1200px;
     margin: auto;
     padding: 12px o;

}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
}
ul li a {
    text-decoration: none;
}
img  {
    max-width: 100%;  
}
/* nav end */
/* banner start */

.banner img{
    width: 100%;
    height: 100%;
 object-fit: cover;
}
.banner{
    position:relative;
    width: 100%;
    height: 100vh;
}

.banner-content{
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    color: #ffffff;
    width: 100%;
    max-width: 600px;
    transform: translate(-50%, -50%);
    

} 
.banner h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.banner p{
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    max-width: 500px;

}
.banner h2{ 
    padding: 15px 30px;
    margin-top:30%;

}
/* banner end */
/* speaker */
.speaker {
    background: #ffffff;
    padding:60px 20px;
    text-align: center;
}
.speaker h2{
    font-size: 35px;
    margin-bottom: 40px;

}
/* speaker end */
/* grid start */
.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}
.speaker-profil{
    background:#ffffff ;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.speaker-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.speaker-info {
  padding: 15px;
}
.speaker-info h3 {
  font-size: 15px;
  margin-bottom: 4px;
}

.speaker-info p {
  font-size: 13px;
  color: #777;}
  /* grid end */

/* spot */

.main h2{
    text-align: center;
     transform: translate(0%, 0%);
    padding:0px 20px;
border-radius: 12px;
font-size: 50px;
border:none;
 
}
.subtitle h6{
       text-align: center;
     transform: translate(0%, 0%);

font-size: 15px;
border:none;
}
/* spot */
/* pricing */
.pricing {
  background: #f3ecfe;
  padding: 60px 20px 90px;
}


.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 950px;
  max-height: 200px;
  margin:  auto;
}
.price-card {
  background: #fff;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06); 
  display: flex;
  flex-direction: column;
}
.price-card-fd {
  background: #101a2c;
  color: #fff;
  
  padding: 40px 20px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}
.price-card h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: left;
}
.price-card ul {
  margin: 20px 0;
  flex-direction: column;
  text-align: left;
  
}

.price-card ul li {
  font-size: 13px;
  padding: 6px 0;
  color: #555;
text-align: left;
}
.price-card-fd ul {
  margin: 20px 0;
  flex-direction: column;
  text-align: left;

}


.price-card-fd ul li {
      font-size: 13px;
  padding: 6px 0;
  color: #ccc; 
  flex-direction: column;
  text-align: left;
}
.price-card button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;

}

.price-card-fd button {
    width: 100%;
padding: 12px;
border-radius: 6px;
border: none;
font-weight: 600;
cursor: pointer;
margin-top: 10px;
  background: #2952e3;
  color: #fff;
}
.price-card-fd h3 {
  font-size: 28px;
  margin-bottom: 15
  text-align: left;}
  /* pricing */